body{
    
}

.img-block{
    border: 4px solid #5d4940;
}

.title-text{
    font-family: 'Russo One', sans-serif;
    width: 100%;
    font-size: 30px;
    margin-top: 40px;
    margin-bottom: 40px;
    color: #5d4940;
}

.regular-text, .important-text{
    display: inline-block;
}

.important-text{
    font-family: 'Roboto Slab', serif;
    font-size: 20px;
    font-weight: 700;
    color: #5d4940;
}

.regular-text{
    font-family: 'Roboto Slab', serif;
    font-size: 18px;
    font-weight: 400;
    color: #a2857d;
}

.center{
    text-align: center;
}

.right{
    text-align: right;
}

.green-text{
    color: green;
}

.site-name-top-text{
    font-family: 'Russo One', sans-serif;
    font-size: 28px;
    font-weight: 500;
    color: #eacec0;
}

.site-name-additional-text{
    font-family: 'Roboto Slab', serif;
    font-size: 14px;
    font-weight: 400;
    color: #a2857d;
}

.header{
    padding-top: 10px;
    background-color: #5d4940;
}

.header-menu{
    padding-top: 20px;
    padding-bottom: 20px;
}

.menu-item{
    width: 100%;
    text-align: center;
    padding-right: 15px;
}

.menu-item:hover{
    width: 100%;
    text-align: center;
    padding-right: 15px;
}

a{
    color: #eacec0;
}

a:hover{
    color: #eacec0;
    text-decoration: none;

}

.border-right-1{
    border-right: 3px solid #33261fb2;
}

.button{
    background-color: #5d4940;
    border: 1px solid #5d4940;
    border-radius: 3px;
    width: 100%;
    padding: 10px;
    color: #eacec0;
    font-family: 'Roboto Slab', serif;
    font-size: 18px;
    font-weight: 600;
}

.footer{
    height: 100px;
    width: 100%;
    background-color: #5d4940;
}

.signinBlock{
    width: 100%;
    height: 490px;
    box-shadow: 0 0 3px;
}

.searchBlock{
    width: 100%;
    height: 170px;
    box-shadow: 0 0 3px;
}

.tac{
    text-align: center;
}

.signinBlock button{
    background-color: white;
    border: 1px solid white;
    color: #a2857d;
    font-weight: 700;
    padding: 0px;
    font-family: 'Roboto Slab', serif;
}

.signinBlock button:hover{
    background-color: white;
    border: 1px solid white;
    color: #5d4940;
    font-weight: 700;
    padding: 0px;
    font-family: 'Roboto Slab', serif;
}

.signinBlock input{
    border: 1px solid white;
    border-bottom: 1px solid grey;
    margin-top: 10px;
    text-align: center;
    font-family: 'Roboto Slab', serif;
}

.signinBlock input::placeholder{
    font-size: 12px;
    text-align: left;
    font-weight: 600;
}

.main-text{
    font-family: 'Roboto Slab', serif;
    font-size: 16px;
    font-weight: 500;
}

.searchBlock input{
    border: 1px solid white;
    border-bottom: 1px solid grey;
    margin-top: 10px;
    text-align: center;
    font-family: 'Roboto Slab', serif;
    text-align: center;
}

.bordered-input{
    border: 1px solid white;
    border-bottom: 1px solid grey;
    margin-top: 10px;
    text-align: center;
    font-family: 'Roboto Slab', serif;
    text-align: center;
}

.searchBlock input::placeholder{
    font-size: 12px;
    text-align: left;
    font-weight: 600;
    text-align: center;
}

.searchBlock button{
    background-color: white;
    border: 1px solid white;
    color: #a2857d;
    font-weight: 700;
    padding: 0px;
    font-family: 'Roboto Slab', serif;
}

.searchBlock button:hover{
    background-color: white;
    border: 1px solid white;
    color: #5d4940;
    font-weight: 700;
    padding: 0px;
    font-family: 'Roboto Slab', serif;
}

.bordered-button{
    background-color: white;
    border: 1px solid white;
    color: #a2857d;
    font-weight: 700;
    padding: 0px;
    font-family: 'Roboto Slab', serif;
}

.b-popup{
    width:100%;
    min-height:100%;
    background-color: rgba(0,0,0,0.5);
    overflow: hidden;
    position: fixed;
    top: 0px;
    font-family: 'Teko', sans-serif;
    font-size: 22px;
}

.b-popup .b-popup-content{
    margin-left: auto;
    margin-right: auto;
    margin-top: 13%;
    width: 400px;
    height: 600px;
    padding: 30px;
    background-color: #5d4940;
    border-radius: 5px;
    box-shadow: 0px 0px 10px #000;
}

.okButton{
    font-family: 'Roboto Slab', serif;
    font-size: 18px;
}

.left{
    text-align: left;
}

.white{
    color: white;
}

.w-50{
    width: 50%;
}

.demo-card-square.mdl-card {
    width: 100%;
    height: 310px;
    border: 1px solid white;
    box-shadow: 0 0 20px darkgrey;
    border-radius: 3px;
    padding-left: 5%;
    background-color: white;
}

.demo-card-square.mdl-card:hover {
    width: 100%;
    height: 310px;
    border: 1px solid white;
    box-shadow: 0 0 20px #5d4940;
    border-radius: 3px;
    padding-left: 5%;
    transition: 0.5s;
    background-color: white;
}

.demo-card-square.mdl-card img{
    width: 95%;
    height: 200px;
    margin-top: 10px;
    margin-bottom: 15px;
}

.demo-card-square.mdl-card p{
    font-family: 'Roboto Slab', serif;
    font-size: 18px;
    font-weight: 700;
    padding-left: 3px;
}

.demo-card-square.mdl-card button{
    background-color: white;
    border: 1px solid white;
    color: #5d4940;
    font-weight: 700;
    padding: 0px;
    font-family: 'Roboto Slab', serif;
    padding-left: 3px;
}

.demo-card-square.mdl-card button:hover{
    background-color: white;
    border: 1px solid white;
    color: #a2857d;
    font-weight: 700;
    padding: 0px;
    font-family: 'Roboto Slab', serif;
    padding-left: 3px;
}